<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>157247432892-sqk0gq6q94c2be14uq0v23qfmol34pno.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyChfpK6cGLFlwxvKu81EvwMfD4fglVfWwU</string>
	<key>GCM_SENDER_ID</key>
	<string>157247432892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.letTutor</string>
	<key>PROJECT_ID</key>
	<string>lettutor-407509</string>
	<key>STORAGE_BUCKET</key>
	<string>lettutor-407509.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157247432892:ios:59f91e599ca3d0965008b9</string>
</dict>
</plist>